<div class="min-h-screen flex items-center justify-center bg-slate-300">
  <div class="bg-white p-4 rounded-2xl w-72 shadow-lg text-center">
    <img 
      src="/images/image-qr-code.png"
      alt="QR Code"
      class="rounded-xl mb-4"
    />
    <h1 class="font-bold text-lg mb-2">
      Improve your front-end skills by building projects
    </h1>
    <p class="text-gray-500 text-sm">
      Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
    </p>
  </div>
</div>